#icon {
    size: 50%;
    opacity:300%;
}

body {
    background-image: url("https://media1.tenor.com/images/244cc4b074e4f768d813c4bd0c7bef6b/tenor.gif?itemid=15561295");
    background-size: cover;
    image-orientation: initial;
    height: 100vh;
    background-repeat: no-repeat;
  }

h1 {
    display: flex;
    justify-content: center;
    margin: 75pt;
}
#title {
    background-color: rgba(255, 174, 0, 0.502);
    border: solid 1px #f5f5f5;
    box-shadow: 3px 3px red, -1em 0 .4em goldenrod;
}
#start {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#startGame {
    font-family: Impact;
    height: 50pt;
    width: 80pt;
    font-weight: lighter;
    font-size: large;
    color: whitesmoke;
    font-size: 20pt;
    background-color: rgba(255, 174, 0, 0.502);
    box-shadow: 3px 3px red, -1em 0 .4em goldenrod;
}

.buttons {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;    
}

#hit {
    font-family: Impact;
    height: 20pt;
    width: 50pt;
    font-weight: lighter;
    font-size: large;
    color: whitesmoke;
    font-size: 16pt;
    margin-right: 10px;
    background-color: rgba(255, 174, 0, 0.502); 
}

#stay {
    justify-content: space-evenly;
    font-family: Impact;
    height: 20pt;
    width: 50pt;
    font-weight: lighter;
    font-size: large;
    color: whitesmoke;
    font-size: 16pt;
    margin-left: 10px;
    background-color: rgba(255, 174, 0, 0.502);
}

